@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-300.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-600.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-700.woff2') format('woff2');
  }
  :root {
    /* White: #fff
    - Black: #000 */
--albescent-white:#f6ebda;
--macaroni-cheese:#ffbd7f;
--sepia-skin: #a0583c;
--roman-coffee: #835e4c;
--brown-tumbleweed: #2f2105;
  }
  

  .cart-order-btn {
    background: var(--macaroni-cheese);
  }